<div class="row">
    <div class="col-xs-6">
        <h3>Relationships</h3>
        <table class="table">
            <tbody>
                <tr>
                    <th>From</th>
                    <th>Name</th>
                    <th>To</th>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-xs-6">
        <img src="http://placehold.it/350x400">
    </div>
</div>
<form action="/datamodel" method="post">
<!--<div class="row"> -->

    <div>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            {{#each files}}
                <li role="presentation"><a href="#{{stripstr this}}" aria-controls="{{stripstr this}}" role="tab" data-toggle="tab">{{this}}</a></li>
            {{/each}}


        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            {{#each files}}
                <div role="tabpanel" class="tab-pane" id="{{stripstr this}}">

                    <div class="row">
                    <div class="btn-group" role="group" aria-label="nodeRelSelect" style="padding:20px;">
                        <button type="button" class="btn btn-default active">Node</button>
                        <button type="button" class="btn btn-default" disabled>Relationship</button>
                    </div>
                        </div>
                    <div class="row">
                        <div class="col-sm-6">
                    <div class="form-group">

                        <label for="{{this}}LabelInput" class="col-sm-2 control-label">Label</label>
                        <div class="col-sm-10" style="padding:20px;">
                            <input type="text" class="form-control" name="{{this}}LabelInput" id="{{this}}LabelInput" placeholder="Node">
                        </div>
                    </div>
                        </div>

                    </div>


                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Column</th>
                                <th>Rename</th>
                                <th>Include</th>
                                <th>PK</th>
                                <th>Datatype</th>
                                <th>Create Index</th>
                                <th>FK</th>
                            </tr>
                            {{datamodelTable this ../this ../this.config}}
                        </tbody>
                    </table>
                </div>
            {{/each}}

        </div>

    </div>
<!-- </div> -->

<div class="row">
    <div class="col-md-3 col-md-offset-9">
        <button type="submit" class="btn btn-success">Next</button>
    </div>

</div>
    </form>

<script>
    $(function() {
        // set first tab as active
        $('.nav-tabs li').first().addClass("active");
        $('.tab-pane').first().addClass("active");

    });
</script>