<div class="container">
    <div class="starter-template">

<div class="alert alert-info alert-dismissible text-left" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <p class="lead">Here we can view summary information for each file selected.</p>
        <p>For each file:</p>
    <ul>
        <li>Confirm you want to upload this file</li>
        <li>Choose if the file represents a Node or Relationship.</li>
        <li>View a preview of the file to determine what information it contains.</li>
    </ul>

</div>

<h1>Files pending import</h1>
<form action="/load2" method="post">
<div class="row">

<table class="table">
    <tbody>
        <tr>
            <th>Import</th>
            <th>Node <span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="popover" title="Node" data-content="Each CSV file represents a Node, Relationship or both."></span></th>
            <th>Relationship</th>
            <th>Don't Know</th>
            <th>Headers <span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="popover" title="Column Headers" data-content="Currently all CSV files must have headers."></span></th>
            <th>File name</th>
            <th>Size</th>
            <th>Rows</th>
            <th>Preview</th>
        </tr>

        {{#each files}}
        <tr>
            <th><label><input type="checkbox" name="{{this}}importCheck" checked></label></th>
            <th><label><input type="radio" name="{{this}}typeRadios" value="node" checked></label></th>
            <th><label><input type="radio" name="{{this}}typeRadios" value="relationship"></label></th>
            <th><label><input type="radio" name="{{this}}typeRadios" value="unknown" disabled></label></th>
            <th><label><input type="checkbox" name="{{this}}headersCheck" checked disabled></label></th>
            <th>{{this}}</th>
            <th>-</th>
            <th>-</th>
            <th><a href="/preview/{{this}}">Preview file</a></th>
        </tr>
            <input type="hidden" name="file{{this}}" value="{{this}}">
        {{/each}}
    </tbody>
</table>
</div>
<div class="row">
    <div class="col-md-3 col-md-offset-9">
<button type="submit" class="btn btn-success">Next</button>
    </div>

</div>

    </form>

<script>
    $(function() {
        $(function () {
            $('[data-toggle="popover"]').popover()
        })
    });
</script>
        </div></div>